body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    /* Get rid of white corners behind background colors */
    margin: 0;
    padding: 0;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}
.header-link-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.header-link {
    text-decoration: none;
}
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    padding-top: 20px;
}
.section-one {
    display: flex;
    background-color: #1F2937;
    padding: 100px 200px;
    gap: 33px;
}
.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.text-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}
.signup-button {
    width: fit-content;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
}
.subtext, .header-link {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}
.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-shrink: 0;
    background-color: #797781;
    color:#E5E7EB;
}
.subtext {
    margin-bottom: 5px;
}
.section-two {
    display: flex;
    background-color: #F9FAF8;
    flex-direction: column;
    align-items: center;
    padding: 50px 250px;
}
.random-info-heading {
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 50px;
}
.all-image-texts {
    display:flex;
    padding-bottom: 100px;
}
.image-text-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}
.image-subtext {
    width: 150px; 
    text-align: center;
    color: #797781;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}
.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    text-align: left;
    color: #1F2937;
}
.quote-credit {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 700;
    font-size: 24px;
}
.footer {
    height: 96px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
  }